@{
    ViewBag.Title = "Home Page";
}
@model CustomerQuery.Models.HomeViewModel
@using (Html.BeginForm("SearchCustomers", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="row padding">
    <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Customer Search</h2>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td nowrap>
                                <span>@Html.LabelFor(m => m.SearchString)</span>
                            </td>
                            <td width="100%">
                                @Html.TextBoxFor(m => m.SearchString, new { @id = "searchbox", @autocomplete = "off", @class = "form-control" })
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" title="Search for customers">Search</button>
                            </td>
                        </tr>
                    </table>
                    <span class="pull-right" style="color:darkgray;font-style:italic">
                        @Html.LabelFor(m => m.UseTable)
                        @Html.CheckBoxFor(m => m.UseTable)
                    </span>
                </div>
            </div>    
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Cached Access to Table Storage</h3>
            </div>
            <div class="panel-body">
                @if (Model.MatchedCustomers.Count > 0)
                {
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.MatchedCustomers)
                            {
                                <tr>
                                    <td>@c.Name</td>
                                    <td>$@c.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><i>No Records Found</i></td></tr>
                        </tbody>
                    </table>
                }
            </div>
            <div class="panel-footer">
                <h4>
                    @Html.LabelFor(m => m.CachedResponseTime)
                    <span class="alert-success">@Html.DisplayFor(m => m.CachedResponseTime)</span>
                    <span>(ms)</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3>Direct Access to Table Storage</h3>
            </div>
            <div class="panel-body">
                @if (Model.TableCustomers.Count > 0)
                {
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.TableCustomers)
                            {
                                <tr>
                                    <td>@c.Name</td>
                                    <td>$@c.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><i>No Records Found</i></td></tr>
                            </tbody>
                    </table>
                }
            </div>
            <div class="panel-footer">
                <h4>
                    @Html.LabelFor(m => m.TableResponseTime)
                    <span class="alert-danger">@Html.DisplayFor(m => m.TableResponseTime)</span>
                    <span>(ms)</span>
                </h4>
            </div>
        </div>
    </div>
</div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script>
    var availableTags = [];
    $("#searchbox").autocomplete({
        source: function (request, response) {
            $.getJSON("/api/AutoComplete?prefix=" + $("#searchbox").val(), { term: request.term }, function (result) {
                response($.map(result, function (item) {
                    return item;
                }));
            });
        },
        messages: {
            noResults: '',
            results: function () { }
        }
    });
</script>